openapi: 3.0.0
info:
  version: 1.0.4
  title: Qovery Account Info Terraform Resources API
  description: '- Qovery is the fastest way to deploy your full-stack apps on any Cloud provider.

    - ℹ️ The API is stable and still in development.

    '
  contact:
    name: Qovery Product Team
    url: https://www.qovery.com
    email: support+api+documentation@qovery.com
  x-logo:
    url: https://console.qovery.com/assets/logos/logo-white.svg
    altText: Qovery
servers:
- url: https://api.qovery.com
security:
- bearerAuth: []
- ApiKeyAuth: []
tags:
- name: Terraform Resources
paths:
  /terraform/{terraformId}/terraformResources:
    parameters:
    - $ref: '#/components/parameters/terraformId'
    get:
      summary: Get terraform resources from latest deployment
      description: Returns the list of Terraform resources from the most recent deployment execution
      tags:
      - Terraform Resources
      operationId: getTerraformResources
      x-stoplight:
        id: terraform-resources-get
      responses:
        '200':
          description: List of terraform resources from latest deployment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TerraformResourcesResponse'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
components:
  schemas:
    TerraformResourceResponse:
      type: object
      title: Terraform Resource Response
      description: A Terraform resource from a deployment execution
      required:
      - id
      - resource_type
      - name
      - address
      - provider
      - mode
      - attributes
      - extracted_at
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier for this resource record
          example: 550e8400-e29b-41d4-a716-446655440000
        resource_type:
          type: string
          description: Type of the Terraform resource (e.g., aws_instance, aws_s3_bucket)
          example: aws_instance
        name:
          type: string
          description: Name of the resource as defined in Terraform configuration
          example: web_server
        address:
          type: string
          description: Full address of the resource (e.g., aws_instance.web_server)
          example: aws_instance.web_server
        provider:
          type: string
          description: Terraform provider name (e.g., aws, google, azurerm)
          example: aws
        mode:
          type: string
          enum:
          - managed
          - data
          description: Resource mode (managed or data source)
          example: managed
        attributes:
          type: object
          description: All resource attributes as key-value pairs
          additionalProperties: true
          example:
            instance_id: i-1234567890abcdef0
            instance_type: t2.micro
            public_ip: 10.0.0.1
            private_ip: 172.31.0.1
        extracted_at:
          type: string
          format: date-time
          description: Timestamp when the resource was extracted from Terraform state
          example: '2023-01-15T10:30:00Z'
    TerraformResourcesResponse:
      type: object
      title: Terraform Resources List Response
      description: List of Terraform resources from the latest deployment
      required:
      - results
      properties:
        results:
          type: array
          description: Array of Terraform resources
          items:
            $ref: '#/components/schemas/TerraformResourceResponse'
  responses:
    '403':
      description: Access forbidden
    '404':
      description: Resource not found
    '401':
      description: Access token is missing or invalid
  parameters:
    terraformId:
      name: terraformId
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: Terraform ID
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'JWT tokens should be used with OIDC account (human to machine). JWT tokens used by the Qovery console to communicate with the API have a TTL. Curl Example '' curl https://console.qovery.com/organization -H "Authorization: Bearer $qovery_token" '''
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: 'Token API are generated by Qovery to manage machine to machine interaction and do not have a TTL. Curl Example '' curl https://console.qovery.com/organization -H "Authorization: Token $qovery_token" '''
x-tagGroups:
- name: Organization
  tags:
  - Organization Main Calls
  - Organization Api Token
  - Organization Account Git Repositories
  - Organization Cluster Lock
  - Organization Webhook
  - Organization Custom Role
  - Organization Event
  - Organization Annotations Group
  - Organization Labels Group
  - Organization Enterprise Connection
  - Projects
  - Members
  - Billing
  - Clusters
  - Cloud Provider
  - Cloud Provider Credentials
  - Github App
  - Container Registries
  - Helm Repositories
- name: Project
  tags:
  - Project Main Calls
  - Environments
  - Project Deployment Rule
  - Project Environment Variable
  - Project Secret
- name: Environment
  tags:
  - Environment Main Calls
  - Applications
  - Containers
  - Databases
  - Jobs
  - Helms
  - Terraforms
  - Environment Actions
  - Environment Logs
  - Environment Deployment History
  - Environment Deployment Rule
  - Environment Variable
  - Environment Secret
  - Environment Export
- name: Deployment Stage
  tags:
  - Deployment Stage Main Calls
- name: Application
  tags:
  - Application Main Calls
  - Application Actions
  - Application Configuration
  - Application Custom Domain
  - Application Database
  - Application Logs
  - Application Deployment Restriction
  - Application Deployment History
  - Application Environment Variable
  - Application Secret
  - Application Annotations Group
- name: Container
  tags:
  - Container Main Calls
  - Container Actions
  - Container Configuration
  - Container Custom Domain
  - Container Database
  - Container Logs
  - Container Deployment History
  - Container Environment Variable
  - Container Secret
  - Container Annotations Group
- name: Database
  tags:
  - Database Main Calls
  - Database Actions
  - Database Applications
  - Database Deployment History
  - Database Containers
  - Database Application
  - Database Container
  - Backups
  - Database Annotations Group
- name: Job
  tags:
  - Job Main Calls
  - Job Actions
  - Job Configuration
  - Job Custom Domain
  - Job Deployment Restriction
  - Job Deployment History
  - Job Environment Variable
  - Job Secret
  - Job Annotations Group
- name: Helm
  tags:
  - Helm Main Calls
  - Helm Actions
  - Helm Configuration
  - Helm Custom Domain
  - Helm Deployment Restriction
  - Helm Deployment History
- name: Terraform
  tags:
  - Terraform Main Calls
  - Terraform Actions
  - Terraform Configuration
  - Terraform Deployment Restriction
  - Terraform Deployment History
- name: Account
  tags:
  - Account Info
  - Git repositories
  - Referral & Rewards
- name: Git
  tags:
  - Git repositories
- name: Variable
  tags:
  - Variable Main Calls
- name: Lifecycle Template
  tags:
  - Lifecycle Template Main Calls
- name: Admin
  tags:
  - User Sign Up
- name: Alerting
  tags:
  - Alert Receivers
  - Alert Rules
