openapi: 3.0.0
info:
  version: 1.0.4
  title: Qovery Account Info Organization Labels Group API
  description: '- Qovery is the fastest way to deploy your full-stack apps on any Cloud provider.

    - ℹ️ The API is stable and still in development.

    '
  contact:
    name: Qovery Product Team
    url: https://www.qovery.com
    email: support+api+documentation@qovery.com
  x-logo:
    url: https://console.qovery.com/assets/logos/logo-white.svg
    altText: Qovery
servers:
- url: https://api.qovery.com
security:
- bearerAuth: []
- ApiKeyAuth: []
tags:
- name: Organization Labels Group
paths:
  /organization/{organizationId}/labelsGroups:
    get:
      summary: List organization labels group
      description: List organization labels group
      operationId: listOrganizationLabelsGroup
      parameters:
      - $ref: '#/components/parameters/organizationId'
      tags:
      - Organization Labels Group
      responses:
        '200':
          description: List organization labels groups
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    $ref: '#/components/schemas/OrganizationLabelsGroupEnrichedResponseList'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
    post:
      summary: Create an organization labels group
      description: Create an organization labels group
      operationId: createOrganizationLabelsGroup
      parameters:
      - $ref: '#/components/parameters/organizationId'
      tags:
      - Organization Labels Group
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationLabelsGroupCreateRequest'
      responses:
        '201':
          description: Organization labels group created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationLabelsGroupResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
  /organization/{organizationId}/labelsGroups/{labelsGroupId}:
    get:
      summary: Get organization labels group
      description: Get organization labels group
      operationId: getOrganizationLabelssGroup
      parameters:
      - $ref: '#/components/parameters/organizationId'
      - $ref: '#/components/parameters/labelsGroupId'
      tags:
      - Organization Labels Group
      responses:
        '200':
          description: List organization labels groups
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationLabelsGroupResponse'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
    put:
      summary: Edit organization labels group
      description: Edit organization labels group
      operationId: editOrganizationLabelsGroup
      parameters:
      - $ref: '#/components/parameters/organizationId'
      - $ref: '#/components/parameters/labelsGroupId'
      tags:
      - Organization Labels Group
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationLabelsGroupCreateRequest'
      responses:
        '200':
          description: Edit organization labels groups
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationLabelsGroupResponse'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
    delete:
      summary: Delete organization labels group
      description: Delete organization labels group
      operationId: deleteOrganizationLabelsGroup
      parameters:
      - $ref: '#/components/parameters/organizationId'
      - $ref: '#/components/parameters/labelsGroupId'
      tags:
      - Organization Labels Group
      responses:
        '204':
          $ref: '#/components/responses/204'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
  /organization/{organizationId}/labelsGroups/{labelsGroupId}/associatedItems:
    get:
      summary: Get organization labels group associated items
      description: Get organization labels group associated items
      operationId: getOrganizationLabelsGroupAssociatedItems
      parameters:
      - $ref: '#/components/parameters/organizationId'
      - $ref: '#/components/parameters/labelsGroupId'
      tags:
      - Organization Labels Group
      responses:
        '200':
          description: Get organization labels group token associated items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationLabelsGroupAssociatedItemsResponseList'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
components:
  schemas:
    OrganizationLabelsGroupResponse:
      allOf:
      - $ref: '#/components/schemas/Base'
      - type: object
        required:
        - name
        - labels
        properties:
          name:
            type: string
          labels:
            type: array
            items:
              $ref: '#/components/schemas/Label'
      title: ''
    OrganizationLabelsGroupCreateRequest:
      type: object
      required:
      - name
      - labels
      properties:
        name:
          type: string
          description: name of the labels group
        labels:
          type: array
          items:
            $ref: '#/components/schemas/Label'
    OrganizationLabelsGroupAssociatedItemsResponseList:
      type: object
      properties:
        results:
          type: array
          items:
            type: object
            required:
            - item_id
            - item_name
            - item_type
            properties:
              cluster_id:
                type: string
                format: uuid
              cluster_name:
                type: string
              project_id:
                type: string
                format: uuid
              project_name:
                type: string
              environment_id:
                type: string
                format: uuid
              environment_name:
                type: string
              item_id:
                type: string
                format: uuid
              item_name:
                type: string
              item_type:
                $ref: '#/components/schemas/LabelsGroupAssociatedItemType'
    LabelsGroupAssociatedItemType:
      type: string
      description: Labels Group Associated Item Type
      enum:
      - APPLICATION
      - DATABASE
      - CONTAINER
      - LIFECYCLE
      - ENVIRONMENT
      - CLUSTER
      - CRON
    Label:
      type: object
      required:
      - key
      - value
      - propagate_to_cloud_provider
      properties:
        key:
          type: string
        value:
          type: string
        propagate_to_cloud_provider:
          type: boolean
    OrganizationLabelsGroupEnrichedResponseList:
      title: OrganizationLabelsGroupEnrichedResponseList
      type: array
      items:
        $ref: '#/components/schemas/OrganizationLabelsGroupEnrichedResponse'
    OrganizationLabelsGroupEnrichedResponse:
      title: OrganizationLabelsGroupEnrichedResponse
      allOf:
      - $ref: '#/components/schemas/Base'
      - type: object
        required:
        - name
        - labels
        properties:
          name:
            type: string
          labels:
            type: array
            items:
              $ref: '#/components/schemas/Label'
          associated_items_count:
            type: integer
    Base:
      type: object
      required:
      - id
      - created_at
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        created_at:
          type: string
          readOnly: true
          format: date-time
        updated_at:
          type: string
          readOnly: true
          format: date-time
  parameters:
    organizationId:
      name: organizationId
      in: path
      description: Organization ID
      required: true
      schema:
        type: string
        format: uuid
    labelsGroupId:
      name: labelsGroupId
      in: path
      description: Organization labels group ID
      required: true
      schema:
        type: string
        format: uuid
  responses:
    '403':
      description: Access forbidden
    '204':
      description: no content
    '404':
      description: Resource not found
    '400':
      description: Bad request
    '401':
      description: Access token is missing or invalid
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'JWT tokens should be used with OIDC account (human to machine). JWT tokens used by the Qovery console to communicate with the API have a TTL. Curl Example '' curl https://console.qovery.com/organization -H "Authorization: Bearer $qovery_token" '''
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: 'Token API are generated by Qovery to manage machine to machine interaction and do not have a TTL. Curl Example '' curl https://console.qovery.com/organization -H "Authorization: Token $qovery_token" '''
x-tagGroups:
- name: Organization
  tags:
  - Organization Main Calls
  - Organization Api Token
  - Organization Account Git Repositories
  - Organization Cluster Lock
  - Organization Webhook
  - Organization Custom Role
  - Organization Event
  - Organization Annotations Group
  - Organization Labels Group
  - Organization Enterprise Connection
  - Projects
  - Members
  - Billing
  - Clusters
  - Cloud Provider
  - Cloud Provider Credentials
  - Github App
  - Container Registries
  - Helm Repositories
- name: Project
  tags:
  - Project Main Calls
  - Environments
  - Project Deployment Rule
  - Project Environment Variable
  - Project Secret
- name: Environment
  tags:
  - Environment Main Calls
  - Applications
  - Containers
  - Databases
  - Jobs
  - Helms
  - Terraforms
  - Environment Actions
  - Environment Logs
  - Environment Deployment History
  - Environment Deployment Rule
  - Environment Variable
  - Environment Secret
  - Environment Export
- name: Deployment Stage
  tags:
  - Deployment Stage Main Calls
- name: Application
  tags:
  - Application Main Calls
  - Application Actions
  - Application Configuration
  - Application Custom Domain
  - Application Database
  - Application Logs
  - Application Deployment Restriction
  - Application Deployment History
  - Application Environment Variable
  - Application Secret
  - Application Annotations Group
- name: Container
  tags:
  - Container Main Calls
  - Container Actions
  - Container Configuration
  - Container Custom Domain
  - Container Database
  - Container Logs
  - Container Deployment History
  - Container Environment Variable
  - Container Secret
  - Container Annotations Group
- name: Database
  tags:
  - Database Main Calls
  - Database Actions
  - Database Applications
  - Database Deployment History
  - Database Containers
  - Database Application
  - Database Container
  - Backups
  - Database Annotations Group
- name: Job
  tags:
  - Job Main Calls
  - Job Actions
  - Job Configuration
  - Job Custom Domain
  - Job Deployment Restriction
  - Job Deployment History
  - Job Environment Variable
  - Job Secret
  - Job Annotations Group
- name: Helm
  tags:
  - Helm Main Calls
  - Helm Actions
  - Helm Configuration
  - Helm Custom Domain
  - Helm Deployment Restriction
  - Helm Deployment History
- name: Terraform
  tags:
  - Terraform Main Calls
  - Terraform Actions
  - Terraform Configuration
  - Terraform Deployment Restriction
  - Terraform Deployment History
- name: Account
  tags:
  - Account Info
  - Git repositories
  - Referral & Rewards
- name: Git
  tags:
  - Git repositories
- name: Variable
  tags:
  - Variable Main Calls
- name: Lifecycle Template
  tags:
  - Lifecycle Template Main Calls
- name: Admin
  tags:
  - User Sign Up
- name: Alerting
  tags:
  - Alert Receivers
  - Alert Rules
