openapi: 3.0.0
info:
  version: 1.0.4
  title: Qovery Account Info Alert Receivers API
  description: '- Qovery is the fastest way to deploy your full-stack apps on any Cloud provider.

    - ℹ️ The API is stable and still in development.

    '
  contact:
    name: Qovery Product Team
    url: https://www.qovery.com
    email: support+api+documentation@qovery.com
  x-logo:
    url: https://console.qovery.com/assets/logos/logo-white.svg
    altText: Qovery
servers:
- url: https://api.qovery.com
security:
- bearerAuth: []
- ApiKeyAuth: []
tags:
- name: Alert Receivers
paths:
  /organization/{organizationId}/alert-receivers:
    parameters:
    - name: organizationId
      in: path
      description: Organization ID
      required: true
      schema:
        type: string
        format: uuid
    get:
      summary: List alert receivers
      tags:
      - Alert Receivers
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertReceiverList'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      operationId: getAlertReceivers
      x-stoplight:
        id: 3cqb2xpmir9n8
      description: Retrieve all alert receivers for a specific organization
  /alert-receivers:
    post:
      summary: Create alert receiver
      tags:
      - Alert Receivers
      responses:
        '201':
          description: ' Alert receiver successfully created'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertReceiverResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
      operationId: createAlertReceiver
      x-stoplight:
        id: 56wdp3pyd4jfy
      description: Create a new alert receiver
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlertReceiverCreationRequest'
  /alert-receivers/{alertReceiverId}:
    parameters:
    - $ref: '#/components/parameters/alertReceiverId'
    get:
      summary: Get alert receiver
      tags:
      - Alert Receivers
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertReceiverResponse'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      operationId: getAlertReceiver
      x-stoplight:
        id: z0qs6btegz9c3
      description: Retrieve a specific alert receiver by its ID
    put:
      summary: Update alert receiver
      tags:
      - Alert Receivers
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertReceiverResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      operationId: editAlertReceiver
      x-stoplight:
        id: lcy99zdslr1cb
      description: Update an existing alert receiver
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlertReceiverEditRequest'
    delete:
      summary: Delete alert receiver
      tags:
      - Alert Receivers
      responses:
        '204':
          description: Alert receiver successfully deleted
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      operationId: deleteAlertReceiver
      x-stoplight:
        id: vwt0mube2wcb6
      description: Delete an alert receiver
  /alert-receivers/{alertReceiverId}/validate:
    parameters:
    - $ref: '#/components/parameters/alertReceiverId'
    post:
      summary: Validate Existing Alert Receiver
      tags:
      - Alert Receivers
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      operationId: validateExistingAlertReceiver
      x-stoplight:
        id: uz8sv9wwxy3ib
      description: Validate an existing alert receiver by sending a test message for example.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlertReceiverValidationRequest'
  /alert-receivers/validate:
    post:
      summary: Validate New Alert Receiver
      tags:
      - Alert Receivers
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      operationId: validateNewAlertReceiver
      x-stoplight:
        id: jqejmmiehaxlm
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlertReceiverCreationValidationRequest'
      description: Validate a future alert receiver by sending a test message.
components:
  schemas:
    AlertReceiverType:
      title: AlertReceiverType
      x-stoplight:
        id: 79fodqa89swh7
      enum:
      - SLACK
      - EMAIL
    AlertReceiverList:
      title: AlertReceiverList
      x-stoplight:
        id: adq5zt8oqtve1
      type: object
      required:
      - results
      properties:
        results:
          x-stoplight:
            id: e8a6xqrax75d5
          type: array
          items:
            $ref: '#/components/schemas/AlertReceiverResponse'
    EmailAlertReceiverEditRequest:
      title: EmailAlertReceiverEditRequest
      allOf:
      - $ref: '#/components/schemas/AlertReceiverEditRequestBase'
      - type: object
        required:
        - to
        - from
        - smarthost
        - require_tls
        properties:
          to:
            type: string
            format: email
          from:
            type: string
            format: email
          smarthost:
            type: string
            description: SMTP server in format 'host:port'
          auth_username:
            type: string
            nullable: true
          auth_password:
            type: string
            format: password
            nullable: true
            description: SMTP password. If null, keeps existing password.
          require_tls:
            type: boolean
    AlertReceiverCreationRequest:
      title: AlertReceiverCreationRequest
      x-stoplight:
        id: q1oj36zhkhmvp
      x-internal: false
      oneOf:
      - $ref: '#/components/schemas/SlackAlertReceiverCreationRequest'
      - $ref: '#/components/schemas/EmailAlertReceiverCreationRequest'
      discriminator:
        propertyName: type
        mapping:
          SLACK: '#/components/schemas/SlackAlertReceiverCreationRequest'
          EMAIL: '#/components/schemas/EmailAlertReceiverCreationRequest'
    AlertReceiverValidationRequest:
      title: AlertReceiverValidationRequest
      x-stoplight:
        id: w6fc7rel27rie
      type: object
      properties:
        message:
          type: string
          x-stoplight:
            id: fgi81witawggf
    AlertReceiverEditRequest:
      title: AlertReceiverEditRequest
      x-stoplight:
        id: y2od6vkbmt7yr
      oneOf:
      - $ref: '#/components/schemas/SlackAlertReceiverEditRequest'
      - $ref: '#/components/schemas/EmailAlertReceiverEditRequest'
      discriminator:
        propertyName: type
        mapping:
          SLACK: '#/components/schemas/SlackAlertReceiverEditRequest'
          EMAIL: '#/components/schemas/EmailAlertReceiverEditRequest'
    AlertReceiverResponse:
      title: AlertReceiverResponse
      x-stoplight:
        id: qyrx61cvx84cz
      oneOf:
      - $ref: '#/components/schemas/SlackAlertReceiverResponse'
      - $ref: '#/components/schemas/EmailAlertReceiverResponse'
      discriminator:
        propertyName: type
        mapping:
          SLACK: '#/components/schemas/SlackAlertReceiverResponse'
          EMAIL: '#/components/schemas/EmailAlertReceiverResponse'
    AlertReceiverEditRequestBase:
      title: AlertReceiverEditRequestBase
      type: object
      required:
      - name
      - description
      - type
      - send_resolved
      properties:
        name:
          type: string
          x-stoplight:
            id: x7yi5mef1y2le
        description:
          type: string
          x-stoplight:
            id: 0l6xifjl3s4e2
        type:
          $ref: '#/components/schemas/AlertReceiverType'
        send_resolved:
          type: boolean
          x-stoplight:
            id: hk2x1t8ixk5sf
        owner:
          type: string
          nullable: true
        severity:
          type: string
          nullable: true
    AlertReceiverCreationValidationRequest:
      title: AlertReceiverCreationValidationRequest
      x-stoplight:
        id: xbtjouxwa280v
      type: object
      required:
      - alert_receiver
      properties:
        alert_receiver:
          $ref: '#/components/schemas/AlertReceiverCreationRequest'
        message:
          type: string
          x-stoplight:
            id: s7kbacgdp3fb4
    SlackAlertReceiverEditRequest:
      title: SlackAlertReceiverEditRequest
      x-stoplight:
        id: hcxf6sxx1jrv9
      allOf:
      - $ref: '#/components/schemas/AlertReceiverEditRequestBase'
      - type: object
        properties:
          webhook_url:
            type: string
            format: uri
            nullable: true
            description: Update webhook URL. If null, keeps existing value.
            x-stoplight:
              id: 8c5ze7hwv90q2
    SlackAlertReceiverResponse:
      title: SlackAlertReceiverResponse
      allOf:
      - $ref: '#/components/schemas/Base'
      - type: object
        required:
        - name
        - description
        - type
        - send_resolved
        properties:
          name:
            type: string
            x-stoplight:
              id: 5zeqm4fc5c8bf
          description:
            type: string
            x-stoplight:
              id: aja5apvg882lo
          type:
            $ref: '#/components/schemas/AlertReceiverType'
          send_resolved:
            type: boolean
            x-stoplight:
              id: xpyx1p6hna34g
          owner:
            type: string
            nullable: true
          severity:
            type: string
            nullable: true
    EmailAlertReceiverResponse:
      title: EmailAlertReceiverResponse
      allOf:
      - $ref: '#/components/schemas/Base'
      - type: object
        required:
        - name
        - description
        - type
        - send_resolved
        - to
        - from
        - smarthost
        - auth_username
        - require_tls
        properties:
          name:
            type: string
          description:
            type: string
          type:
            $ref: '#/components/schemas/AlertReceiverType'
          send_resolved:
            type: boolean
          to:
            type: string
            format: email
          from:
            type: string
            format: email
          smarthost:
            type: string
          auth_username:
            type: string
            nullable: true
          require_tls:
            type: boolean
          owner:
            type: string
            nullable: true
          severity:
            type: string
            nullable: true
    SlackAlertReceiverCreationRequest:
      title: SlackAlertReceiverCreationRequest
      x-stoplight:
        id: awuv9zidg4qxx
      allOf:
      - $ref: '#/components/schemas/AlertReceiverCreationRequestBase'
      - type: object
        required:
        - webhook_url
        properties:
          webhook_url:
            type: string
            format: uri
            x-stoplight:
              id: dre0gsq0bs0xv
    AlertReceiverCreationRequestBase:
      title: AlertReceiverCreationRequestBase
      type: object
      required:
      - organization_id
      - name
      - description
      - type
      - send_resolved
      properties:
        organization_id:
          type: string
          format: uuid
          x-stoplight:
            id: bojx2ynimjvnr
        name:
          type: string
          x-stoplight:
            id: vhcpsitoy9mm1
        description:
          type: string
          x-stoplight:
            id: lrlxf8a34veta
        type:
          $ref: '#/components/schemas/AlertReceiverType'
        send_resolved:
          type: boolean
          x-stoplight:
            id: ucf1p0q2vpohv
        owner:
          type: string
          nullable: true
        severity:
          type: string
          nullable: true
    EmailAlertReceiverCreationRequest:
      title: EmailAlertReceiverCreationRequest
      allOf:
      - $ref: '#/components/schemas/AlertReceiverCreationRequestBase'
      - type: object
        required:
        - to
        - from
        - smarthost
        - auth_password
        - require_tls
        properties:
          to:
            type: string
            format: email
            description: Recipient email address
          from:
            type: string
            format: email
            description: Sender email address
          smarthost:
            type: string
            description: SMTP server in format 'host:port'
            example: smtp.example.com:587
          auth_username:
            type: string
            nullable: true
            description: SMTP authentication username. Defaults to 'from' if not provided.
          auth_password:
            type: string
            format: password
            description: SMTP authentication password
          require_tls:
            type: boolean
            description: Whether to require TLS for SMTP connection
    Base:
      type: object
      required:
      - id
      - created_at
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        created_at:
          type: string
          readOnly: true
          format: date-time
        updated_at:
          type: string
          readOnly: true
          format: date-time
  responses:
    '400':
      description: Bad request
    '404':
      description: Resource not found
    '403':
      description: Access forbidden
    '401':
      description: Access token is missing or invalid
  parameters:
    alertReceiverId:
      name: alertReceiverId
      in: path
      description: Alert Receiver ID
      required: true
      schema:
        type: string
        format: uuid
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'JWT tokens should be used with OIDC account (human to machine). JWT tokens used by the Qovery console to communicate with the API have a TTL. Curl Example '' curl https://console.qovery.com/organization -H "Authorization: Bearer $qovery_token" '''
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: 'Token API are generated by Qovery to manage machine to machine interaction and do not have a TTL. Curl Example '' curl https://console.qovery.com/organization -H "Authorization: Token $qovery_token" '''
x-tagGroups:
- name: Organization
  tags:
  - Organization Main Calls
  - Organization Api Token
  - Organization Account Git Repositories
  - Organization Cluster Lock
  - Organization Webhook
  - Organization Custom Role
  - Organization Event
  - Organization Annotations Group
  - Organization Labels Group
  - Organization Enterprise Connection
  - Projects
  - Members
  - Billing
  - Clusters
  - Cloud Provider
  - Cloud Provider Credentials
  - Github App
  - Container Registries
  - Helm Repositories
- name: Project
  tags:
  - Project Main Calls
  - Environments
  - Project Deployment Rule
  - Project Environment Variable
  - Project Secret
- name: Environment
  tags:
  - Environment Main Calls
  - Applications
  - Containers
  - Databases
  - Jobs
  - Helms
  - Terraforms
  - Environment Actions
  - Environment Logs
  - Environment Deployment History
  - Environment Deployment Rule
  - Environment Variable
  - Environment Secret
  - Environment Export
- name: Deployment Stage
  tags:
  - Deployment Stage Main Calls
- name: Application
  tags:
  - Application Main Calls
  - Application Actions
  - Application Configuration
  - Application Custom Domain
  - Application Database
  - Application Logs
  - Application Deployment Restriction
  - Application Deployment History
  - Application Environment Variable
  - Application Secret
  - Application Annotations Group
- name: Container
  tags:
  - Container Main Calls
  - Container Actions
  - Container Configuration
  - Container Custom Domain
  - Container Database
  - Container Logs
  - Container Deployment History
  - Container Environment Variable
  - Container Secret
  - Container Annotations Group
- name: Database
  tags:
  - Database Main Calls
  - Database Actions
  - Database Applications
  - Database Deployment History
  - Database Containers
  - Database Application
  - Database Container
  - Backups
  - Database Annotations Group
- name: Job
  tags:
  - Job Main Calls
  - Job Actions
  - Job Configuration
  - Job Custom Domain
  - Job Deployment Restriction
  - Job Deployment History
  - Job Environment Variable
  - Job Secret
  - Job Annotations Group
- name: Helm
  tags:
  - Helm Main Calls
  - Helm Actions
  - Helm Configuration
  - Helm Custom Domain
  - Helm Deployment Restriction
  - Helm Deployment History
- name: Terraform
  tags:
  - Terraform Main Calls
  - Terraform Actions
  - Terraform Configuration
  - Terraform Deployment Restriction
  - Terraform Deployment History
- name: Account
  tags:
  - Account Info
  - Git repositories
  - Referral & Rewards
- name: Git
  tags:
  - Git repositories
- name: Variable
  tags:
  - Variable Main Calls
- name: Lifecycle Template
  tags:
  - Lifecycle Template Main Calls
- name: Admin
  tags:
  - User Sign Up
- name: Alerting
  tags:
  - Alert Receivers
  - Alert Rules
