openapi: 3.0.0
info:
  version: 1.0.4
  title: Qovery Account Info Cloud Provider Credentials API
  description: '- Qovery is the fastest way to deploy your full-stack apps on any Cloud provider.

    - ℹ️ The API is stable and still in development.

    '
  contact:
    name: Qovery Product Team
    url: https://www.qovery.com
    email: support+api+documentation@qovery.com
  x-logo:
    url: https://console.qovery.com/assets/logos/logo-white.svg
    altText: Qovery
servers:
- url: https://api.qovery.com
security:
- bearerAuth: []
- ApiKeyAuth: []
tags:
- name: Cloud Provider Credentials
paths:
  /organization/{organizationId}/aws/credentials:
    get:
      summary: List AWS credentials
      operationId: listAWSCredentials
      parameters:
      - $ref: '#/components/parameters/organizationId'
      tags:
      - Cloud Provider Credentials
      responses:
        '200':
          description: list credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterCredentialsResponseList'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
    post:
      summary: Create AWS credentials set
      operationId: createAWSCredentials
      parameters:
      - $ref: '#/components/parameters/organizationId'
      tags:
      - Cloud Provider Credentials
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AwsCredentialsRequest'
      responses:
        '201':
          description: Credentials created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterCredentials'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
  /organization/{organizationId}/aws/credentials/{credentialsId}:
    get:
      summary: Get a set of AWS credentials
      operationId: getAWSCredentials
      parameters:
      - $ref: '#/components/parameters/organizationId'
      - $ref: '#/components/parameters/credentialsId'
      tags:
      - Cloud Provider Credentials
      responses:
        '200':
          description: Get a set of AWS credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterCredentials'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
    put:
      summary: Edit a set of AWS credentials
      operationId: editAWSCredentials
      parameters:
      - $ref: '#/components/parameters/organizationId'
      - $ref: '#/components/parameters/credentialsId'
      tags:
      - Cloud Provider Credentials
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AwsCredentialsRequest'
      responses:
        '200':
          description: Edit a set of AWS credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterCredentials'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
    delete:
      summary: Delete a set of AWS credentials
      operationId: deleteAWSCredentials
      parameters:
      - $ref: '#/components/parameters/credentialsId'
      - $ref: '#/components/parameters/organizationId'
      tags:
      - Cloud Provider Credentials
      responses:
        '204':
          $ref: '#/components/responses/204-deletion'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
  /organization/{organizationId}/onPremise/credentials:
    get:
      summary: List OnPremise credentials
      operationId: listOnPremiseCredentials
      parameters:
      - $ref: '#/components/parameters/organizationId'
      tags:
      - Cloud Provider Credentials
      responses:
        '200':
          description: list credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterCredentialsResponseList'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
    post:
      summary: Create OnPremise credentials set
      operationId: createOnPremiseCredentials
      parameters:
      - $ref: '#/components/parameters/organizationId'
      tags:
      - Cloud Provider Credentials
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OnPremiseCredentialsRequest'
      responses:
        '201':
          description: Credentials created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterCredentials'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
  /organization/{organizationId}/onPremise/credentials/{credentialsId}:
    get:
      summary: Get a set of OnPremise credentials
      operationId: getOnPremiseCredentials
      parameters:
      - $ref: '#/components/parameters/organizationId'
      - $ref: '#/components/parameters/credentialsId'
      tags:
      - Cloud Provider Credentials
      responses:
        '200':
          description: Get a set of OnPremise credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterCredentials'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
    put:
      summary: Edit a set of OnPremise credentials
      operationId: editOnPremiseCredentials
      parameters:
      - $ref: '#/components/parameters/organizationId'
      - $ref: '#/components/parameters/credentialsId'
      tags:
      - Cloud Provider Credentials
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OnPremiseCredentialsRequest'
      responses:
        '200':
          description: Edit a set of OnPremise credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterCredentials'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
    delete:
      summary: Delete a set of OnPremise credentials
      operationId: deleteOnPremiseCredentials
      parameters:
      - $ref: '#/components/parameters/credentialsId'
      - $ref: '#/components/parameters/organizationId'
      tags:
      - Cloud Provider Credentials
      responses:
        '204':
          $ref: '#/components/responses/204-deletion'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
  /organization/{organizationId}/scaleway/credentials:
    get:
      summary: List Scaleway credentials
      operationId: listScalewayCredentials
      parameters:
      - $ref: '#/components/parameters/organizationId'
      tags:
      - Cloud Provider Credentials
      responses:
        '200':
          description: list credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterCredentialsResponseList'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
    post:
      summary: Create Scaleway credentials set
      operationId: createScalewayCredentials
      parameters:
      - $ref: '#/components/parameters/organizationId'
      tags:
      - Cloud Provider Credentials
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScalewayCredentialsRequest'
      responses:
        '201':
          description: Credentials created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterCredentials'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
  /organization/{organizationId}/scaleway/credentials/{credentialsId}:
    get:
      summary: Get a set of Scaleway credentials
      operationId: getScalewayCredentials
      parameters:
      - $ref: '#/components/parameters/organizationId'
      - $ref: '#/components/parameters/credentialsId'
      tags:
      - Cloud Provider Credentials
      responses:
        '200':
          description: Get a set of Scaleway credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterCredentials'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
    put:
      summary: Edit a set of Scaleway credentials
      operationId: editScalewayCredentials
      parameters:
      - $ref: '#/components/parameters/organizationId'
      - $ref: '#/components/parameters/credentialsId'
      tags:
      - Cloud Provider Credentials
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScalewayCredentialsRequest'
      responses:
        '200':
          description: Edit a set of Scaleway credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterCredentials'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
    delete:
      summary: Delete a set of Scaleway credentials
      operationId: deleteScalewayCredentials
      parameters:
      - $ref: '#/components/parameters/credentialsId'
      - $ref: '#/components/parameters/organizationId'
      tags:
      - Cloud Provider Credentials
      responses:
        '204':
          $ref: '#/components/responses/204-deletion'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
  /organization/{organizationId}/gcp/credentials:
    get:
      summary: List GCP credentials
      operationId: listGcpCredentials
      parameters:
      - $ref: '#/components/parameters/organizationId'
      tags:
      - Cloud Provider Credentials
      responses:
        '200':
          description: list credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterCredentialsResponseList'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
    post:
      summary: Create GCP credentials set
      operationId: createGcpCredentials
      parameters:
      - $ref: '#/components/parameters/organizationId'
      tags:
      - Cloud Provider Credentials
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GcpCredentialsRequest'
      responses:
        '201':
          description: Credentials created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterCredentials'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
  /organization/{organizationId}/gcp/credentials/{credentialsId}:
    get:
      summary: Get a set of GCP credentials
      operationId: getGcpCredentials
      parameters:
      - $ref: '#/components/parameters/organizationId'
      - $ref: '#/components/parameters/credentialsId'
      tags:
      - Cloud Provider Credentials
      responses:
        '200':
          description: Get a set of GCP credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterCredentials'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
    put:
      summary: Edit a set of GCP credentials
      operationId: editGcpCredentials
      parameters:
      - $ref: '#/components/parameters/organizationId'
      - $ref: '#/components/parameters/credentialsId'
      tags:
      - Cloud Provider Credentials
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GcpCredentialsRequest'
      responses:
        '200':
          description: Edit a set of GCP credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterCredentials'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
    delete:
      summary: Delete a set of GCP credentials
      operationId: deleteGcpCredentials
      parameters:
      - $ref: '#/components/parameters/credentialsId'
      - $ref: '#/components/parameters/organizationId'
      tags:
      - Cloud Provider Credentials
      responses:
        '204':
          $ref: '#/components/responses/204-deletion'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
  /organization/{organizationId}/azure/credentials:
    get:
      summary: List Azure credentials
      operationId: listAzureCredentials
      parameters:
      - $ref: '#/components/parameters/organizationId'
      tags:
      - Cloud Provider Credentials
      responses:
        '200':
          description: list credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterCredentialsResponseList'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
    post:
      summary: Create Azure credentials set
      operationId: createAzureCredentials
      parameters:
      - $ref: '#/components/parameters/organizationId'
      tags:
      - Cloud Provider Credentials
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AzureCredentialsRequest'
      responses:
        '201':
          description: Credentials created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterCredentials'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
  /organization/{organizationId}/azure/credentials/{credentialsId}:
    parameters:
    - schema:
        type: string
        format: uuid
      name: organizationId
      in: path
      required: true
    - schema:
        type: string
        format: uuid
      name: credentialsId
      in: path
      required: true
    get:
      summary: Get a set of Azure credentials
      operationId: getAzureCredentials
      tags:
      - Cloud Provider Credentials
      responses:
        '200':
          description: Get a set of Azure credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterCredentials'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
    put:
      summary: Edit a set of Azure credentials
      operationId: editAzureCredentials
      tags:
      - Cloud Provider Credentials
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AzureCredentialsRequest'
      responses:
        '200':
          description: Edit a set of Azure credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterCredentials'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
    delete:
      summary: Delete a set of Azure credentials
      operationId: deleteAzureCredentials
      tags:
      - Cloud Provider Credentials
      responses:
        '204':
          $ref: '#/components/responses/204-deletion'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
components:
  schemas:
    AwsCredentialsRequest:
      oneOf:
      - $ref: '#/components/schemas/AwsRoleCredentialsRequest'
      - $ref: '#/components/schemas/AwsStaticCredentialsRequest'
      - $ref: '#/components/schemas/EksAnywhereVsphereRoleCredentialsRequest'
      - $ref: '#/components/schemas/EksAnywhereVsphereStaticCredentialsRequest'
      discriminator:
        propertyName: type
        mapping:
          AWS_ROLE: '#/components/schemas/AwsRoleCredentialsRequest'
          AWS_STATIC: '#/components/schemas/AwsStaticCredentialsRequest'
          EKS_ANYWHERE_VSPHERE_ROLE: '#/components/schemas/EksAnywhereVsphereRoleCredentialsRequest'
          EKS_ANYWHERE_VSPHERE_STATIC: '#/components/schemas/EksAnywhereVsphereStaticCredentialsRequest'
    GenericClusterCredentials:
      title: GenericClusterCredentials
      x-stoplight:
        id: gtibx4nzrvxm9
      type: object
      required:
      - id
      - name
      - object_type
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        object_type:
          enum:
          - OTHER
    GcpStaticClusterCredentials:
      title: GcpStaticClusterCredentials
      x-stoplight:
        id: qtvaepejqookw
      type: object
      required:
      - id
      - name
      - object_type
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        object_type:
          enum:
          - GCP
    AzureStaticClusterCredentials:
      title: AzureStaticClusterCredentials
      x-stoplight:
        id: wo7v4e4c0jlfu
      type: object
      required:
      - id
      - name
      - azure_subscription_id
      - azure_tenant_id
      - object_type
      - azure_application_id
      - azure_application_object_id
      properties:
        id:
          type: string
          x-stoplight:
            id: 7qy00mrnhmclv
          format: uuid
        name:
          type: string
          x-stoplight:
            id: f5c1wc467emz3
        azure_subscription_id:
          type: string
          x-stoplight:
            id: x0s5zbj6l1yx0
        azure_tenant_id:
          type: string
          x-stoplight:
            id: ygjwz6uqfexsc
        object_type:
          x-stoplight:
            id: 8oodrxjznyahm
          enum:
          - AZURE
        azure_application_id:
          type: string
          x-stoplight:
            id: wc0e8cqceyopu
        azure_application_object_id:
          type: string
          x-stoplight:
            id: q20e71qkfsk1k
    GcpCredentialsRequest:
      type: object
      required:
      - name
      - gcp_credentials
      properties:
        name:
          type: string
        gcp_credentials:
          type: string
    ClusterCredentials:
      oneOf:
      - $ref: '#/components/schemas/AwsStaticClusterCredentials'
      - $ref: '#/components/schemas/ScalewayClusterCredentials'
      - $ref: '#/components/schemas/GenericClusterCredentials'
      - $ref: '#/components/schemas/AwsRoleClusterCredentials'
      - $ref: '#/components/schemas/EksAnywhereVsphereClusterCredentials'
      - $ref: '#/components/schemas/AzureStaticClusterCredentials'
      - $ref: '#/components/schemas/GcpStaticClusterCredentials'
      discriminator:
        propertyName: object_type
        mapping:
          AWS: '#/components/schemas/AwsStaticClusterCredentials'
          AWS_ROLE: '#/components/schemas/AwsRoleClusterCredentials'
          EKS_ANYWHERE_VSPHERE: '#/components/schemas/EksAnywhereVsphereClusterCredentials'
          SCW: '#/components/schemas/ScalewayClusterCredentials'
          OTHER: '#/components/schemas/GenericClusterCredentials'
          AZURE: '#/components/schemas/AzureStaticClusterCredentials'
          GCP: '#/components/schemas/GcpStaticClusterCredentials'
    OnPremiseCredentialsRequest:
      type: object
      required:
      - name
      properties:
        name:
          type: string
    AzureCredentialsRequest:
      title: AzureCredentialsRequest
      x-stoplight:
        id: gjzlt9ldnn7ip
      type: object
      required:
      - name
      - azure_subscription_id
      - azure_tenant_id
      properties:
        name:
          type: string
          x-stoplight:
            id: ywkpnhxrygsf4
        azure_subscription_id:
          type: string
          x-stoplight:
            id: 4py3o45wxewvh
        azure_tenant_id:
          type: string
          x-stoplight:
            id: u776tz269mjb0
    AwsStaticClusterCredentials:
      x-stoplight:
        id: s0aosg7la96hp
      title: AwsStaticClusterCredentials
      type: object
      required:
      - id
      - name
      - access_key_id
      - object_type
      properties:
        id:
          type: string
          x-stoplight:
            id: en79y0yc76xhp
          format: uuid
        name:
          type: string
          x-stoplight:
            id: mx0mwek4ubieo
        access_key_id:
          type: string
          x-stoplight:
            id: 6g20j0ggu8nqc
        object_type:
          x-stoplight:
            id: ravczabg8e2sp
          enum:
          - AWS
    EksAnywhereVsphereRoleCredentialsRequest:
      type: object
      required:
      - type
      - name
      - vsphere_user
      - vsphere_password
      - role_arn
      properties:
        type:
          type: string
          enum:
          - EKS_ANYWHERE_VSPHERE_ROLE
        name:
          type: string
        vsphere_user:
          type: string
        vsphere_password:
          type: string
        role_arn:
          type: string
    AwsStaticCredentialsRequest:
      required:
      - type
      - name
      - access_key_id
      - secret_access_key
      properties:
        type:
          type: string
          enum:
          - AWS_STATIC
        name:
          type: string
        access_key_id:
          type: string
        secret_access_key:
          type: string
      x-stoplight:
        id: l0s0fv735914p
      type: object
    EksAnywhereVsphereClusterCredentials:
      title: EksAnywhereVsphereClusterCredentials
      type: object
      required:
      - id
      - name
      - vsphere_user
      - object_type
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        vsphere_user:
          type: string
        access_key_id:
          type: string
          nullable: true
        role_arn:
          type: string
          nullable: true
        object_type:
          enum:
          - EKS_ANYWHERE_VSPHERE
    AwsRoleCredentialsRequest:
      x-stoplight:
        id: jn74pfty2eq7c
      type: object
      required:
      - type
      - name
      - role_arn
      properties:
        type:
          type: string
          enum:
          - AWS_ROLE
        name:
          type: string
        role_arn:
          type: string
          x-stoplight:
            id: my3ry04bqibxp
    ClusterCredentialsResponseList:
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/ClusterCredentials'
    ScalewayCredentialsRequest:
      type: object
      required:
      - name
      - scaleway_access_key
      - scaleway_secret_key
      - scaleway_project_id
      - scaleway_organization_id
      properties:
        name:
          type: string
        scaleway_access_key:
          type: string
        scaleway_secret_key:
          type: string
        scaleway_project_id:
          type: string
        scaleway_organization_id:
          type: string
    ScalewayClusterCredentials:
      title: ScalewayClusterCredentials
      x-stoplight:
        id: j3ep46eyah9p5
      type: object
      required:
      - id
      - name
      - scaleway_access_key
      - object_type
      - scaleway_project_id
      - scaleway_organization_id
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        scaleway_access_key:
          type: string
          x-stoplight:
            id: 4db3031sq6tea
        object_type:
          enum:
          - SCW
        scaleway_project_id:
          type: string
          x-stoplight:
            id: 0630fqc615vg4
        scaleway_organization_id:
          type: string
          x-stoplight:
            id: 5ui02pola5ndr
    AwsRoleClusterCredentials:
      title: AwsRoleClusterCredentials
      x-stoplight:
        id: f5c1iewg51zam
      type: object
      required:
      - id
      - name
      - role_arn
      - object_type
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        role_arn:
          type: string
          x-stoplight:
            id: 8l5tuxflg76d2
        object_type:
          enum:
          - AWS_ROLE
    EksAnywhereVsphereStaticCredentialsRequest:
      type: object
      required:
      - type
      - name
      - vsphere_user
      - vsphere_password
      - access_key_id
      - secret_access_key
      properties:
        type:
          type: string
          enum:
          - EKS_ANYWHERE_VSPHERE_STATIC
        name:
          type: string
        vsphere_user:
          type: string
        vsphere_password:
          type: string
        access_key_id:
          type: string
        secret_access_key:
          type: string
  parameters:
    credentialsId:
      name: credentialsId
      in: path
      description: Credentials ID
      required: true
      schema:
        type: string
        format: uuid
    organizationId:
      name: organizationId
      in: path
      description: Organization ID
      required: true
      schema:
        type: string
        format: uuid
  responses:
    '400':
      description: Bad request
    204-deletion:
      description: The resource was deleted successfully
    '403':
      description: Access forbidden
    '404':
      description: Resource not found
    '401':
      description: Access token is missing or invalid
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'JWT tokens should be used with OIDC account (human to machine). JWT tokens used by the Qovery console to communicate with the API have a TTL. Curl Example '' curl https://console.qovery.com/organization -H "Authorization: Bearer $qovery_token" '''
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: 'Token API are generated by Qovery to manage machine to machine interaction and do not have a TTL. Curl Example '' curl https://console.qovery.com/organization -H "Authorization: Token $qovery_token" '''
x-tagGroups:
- name: Organization
  tags:
  - Organization Main Calls
  - Organization Api Token
  - Organization Account Git Repositories
  - Organization Cluster Lock
  - Organization Webhook
  - Organization Custom Role
  - Organization Event
  - Organization Annotations Group
  - Organization Labels Group
  - Organization Enterprise Connection
  - Projects
  - Members
  - Billing
  - Clusters
  - Cloud Provider
  - Cloud Provider Credentials
  - Github App
  - Container Registries
  - Helm Repositories
- name: Project
  tags:
  - Project Main Calls
  - Environments
  - Project Deployment Rule
  - Project Environment Variable
  - Project Secret
- name: Environment
  tags:
  - Environment Main Calls
  - Applications
  - Containers
  - Databases
  - Jobs
  - Helms
  - Terraforms
  - Environment Actions
  - Environment Logs
  - Environment Deployment History
  - Environment Deployment Rule
  - Environment Variable
  - Environment Secret
  - Environment Export
- name: Deployment Stage
  tags:
  - Deployment Stage Main Calls
- name: Application
  tags:
  - Application Main Calls
  - Application Actions
  - Application Configuration
  - Application Custom Domain
  - Application Database
  - Application Logs
  - Application Deployment Restriction
  - Application Deployment History
  - Application Environment Variable
  - Application Secret
  - Application Annotations Group
- name: Container
  tags:
  - Container Main Calls
  - Container Actions
  - Container Configuration
  - Container Custom Domain
  - Container Database
  - Container Logs
  - Container Deployment History
  - Container Environment Variable
  - Container Secret
  - Container Annotations Group
- name: Database
  tags:
  - Database Main Calls
  - Database Actions
  - Database Applications
  - Database Deployment History
  - Database Containers
  - Database Application
  - Database Container
  - Backups
  - Database Annotations Group
- name: Job
  tags:
  - Job Main Calls
  - Job Actions
  - Job Configuration
  - Job Custom Domain
  - Job Deployment Restriction
  - Job Deployment History
  - Job Environment Variable
  - Job Secret
  - Job Annotations Group
- name: Helm
  tags:
  - Helm Main Calls
  - Helm Actions
  - Helm Configuration
  - Helm Custom Domain
  - Helm Deployment Restriction
  - Helm Deployment History
- name: Terraform
  tags:
  - Terraform Main Calls
  - Terraform Actions
  - Terraform Configuration
  - Terraform Deployment Restriction
  - Terraform Deployment History
- name: Account
  tags:
  - Account Info
  - Git repositories
  - Referral & Rewards
- name: Git
  tags:
  - Git repositories
- name: Variable
  tags:
  - Variable Main Calls
- name: Lifecycle Template
  tags:
  - Lifecycle Template Main Calls
- name: Admin
  tags:
  - User Sign Up
- name: Alerting
  tags:
  - Alert Receivers
  - Alert Rules
