openapi: 3.0.0
info:
  version: 1.0.4
  title: Qovery Account Info Service Main Calls API
  description: '- Qovery is the fastest way to deploy your full-stack apps on any Cloud provider.

    - ℹ️ The API is stable and still in development.

    '
  contact:
    name: Qovery Product Team
    url: https://www.qovery.com
    email: support+api+documentation@qovery.com
  x-logo:
    url: https://console.qovery.com/assets/logos/logo-white.svg
    altText: Qovery
servers:
- url: https://api.qovery.com
security:
- bearerAuth: []
- ApiKeyAuth: []
tags:
- name: Service Main Calls
paths:
  /service/{serviceId}/gitWebhookStatus:
    get:
      summary: Get git webhook status for a service
      description: Returns the webhook status for a git-based service. Checks if the Qovery webhook is correctly configured on the git provider (GitHub, GitLab, or Bitbucket).
      operationId: getServiceGitWebhookStatus
      parameters:
      - $ref: '#/components/parameters/serviceId'
      tags:
      - Service Main Calls
      responses:
        '200':
          description: Webhook status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GitWebhookStatusResponse'
        '400':
          description: Service does not have a git source
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
  /service/{serviceId}/gitWebhook/sync:
    post:
      summary: Synchronize git webhook for a service
      description: 'Synchronizes the Qovery webhook configuration for a git-based service.

        - If no webhook exists, creates one with the correct configuration

        - If webhook exists but is misconfigured, updates it with the correct events

        - If webhook is already correctly configured, returns current status

        Works with GitHub, GitLab, and Bitbucket repositories.

        '
      operationId: syncServiceGitWebhook
      parameters:
      - $ref: '#/components/parameters/serviceId'
      tags:
      - Service Main Calls
      responses:
        '200':
          description: Webhook synchronized successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GitWebhookStatusResponse'
        '400':
          description: Service does not have a git source
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '422':
          description: Cannot configure webhook (provider-specific issues, insufficient permissions)
        '429':
          description: Git provider rate limit exceeded
components:
  parameters:
    serviceId:
      name: serviceId
      in: path
      description: Service ID of an application/job/container/database
      required: true
      schema:
        type: string
        format: uuid
  schemas:
    GitWebhookStatusResponse:
      type: object
      required:
      - status
      - provider
      properties:
        status:
          type: string
          enum:
          - ACTIVE
          - NOT_CONFIGURED
          - MISCONFIGURED
          - UNABLE_TO_VERIFY
          description: 'The webhook configuration status:

            - ACTIVE: Webhook is properly configured with all required events

            - NOT_CONFIGURED: No Qovery webhook found on the git rep

            - MISCONFIGURED: Webhook exists but is missing required events

            - UNABLE_TO_VERIFY: Could not check webhook status (auth error, rate limit, etc.)

            '
        provider:
          type: string
          enum:
          - GITHUB
          - GITLAB
          - BITBUCKET
          description: The git provider where the webhook is configured
        missing_events:
          type: array
          items:
            type: string
          description: List of required events that are missing from the webhook configuration (only present when status is MISCONFIGURED)
  responses:
    '403':
      description: Access forbidden
    '404':
      description: Resource not found
    '401':
      description: Access token is missing or invalid
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'JWT tokens should be used with OIDC account (human to machine). JWT tokens used by the Qovery console to communicate with the API have a TTL. Curl Example '' curl https://console.qovery.com/organization -H "Authorization: Bearer $qovery_token" '''
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: 'Token API are generated by Qovery to manage machine to machine interaction and do not have a TTL. Curl Example '' curl https://console.qovery.com/organization -H "Authorization: Token $qovery_token" '''
x-tagGroups:
- name: Organization
  tags:
  - Organization Main Calls
  - Organization Api Token
  - Organization Account Git Repositories
  - Organization Cluster Lock
  - Organization Webhook
  - Organization Custom Role
  - Organization Event
  - Organization Annotations Group
  - Organization Labels Group
  - Organization Enterprise Connection
  - Projects
  - Members
  - Billing
  - Clusters
  - Cloud Provider
  - Cloud Provider Credentials
  - Github App
  - Container Registries
  - Helm Repositories
- name: Project
  tags:
  - Project Main Calls
  - Environments
  - Project Deployment Rule
  - Project Environment Variable
  - Project Secret
- name: Environment
  tags:
  - Environment Main Calls
  - Applications
  - Containers
  - Databases
  - Jobs
  - Helms
  - Terraforms
  - Environment Actions
  - Environment Logs
  - Environment Deployment History
  - Environment Deployment Rule
  - Environment Variable
  - Environment Secret
  - Environment Export
- name: Deployment Stage
  tags:
  - Deployment Stage Main Calls
- name: Application
  tags:
  - Application Main Calls
  - Application Actions
  - Application Configuration
  - Application Custom Domain
  - Application Database
  - Application Logs
  - Application Deployment Restriction
  - Application Deployment History
  - Application Environment Variable
  - Application Secret
  - Application Annotations Group
- name: Container
  tags:
  - Container Main Calls
  - Container Actions
  - Container Configuration
  - Container Custom Domain
  - Container Database
  - Container Logs
  - Container Deployment History
  - Container Environment Variable
  - Container Secret
  - Container Annotations Group
- name: Database
  tags:
  - Database Main Calls
  - Database Actions
  - Database Applications
  - Database Deployment History
  - Database Containers
  - Database Application
  - Database Container
  - Backups
  - Database Annotations Group
- name: Job
  tags:
  - Job Main Calls
  - Job Actions
  - Job Configuration
  - Job Custom Domain
  - Job Deployment Restriction
  - Job Deployment History
  - Job Environment Variable
  - Job Secret
  - Job Annotations Group
- name: Helm
  tags:
  - Helm Main Calls
  - Helm Actions
  - Helm Configuration
  - Helm Custom Domain
  - Helm Deployment Restriction
  - Helm Deployment History
- name: Terraform
  tags:
  - Terraform Main Calls
  - Terraform Actions
  - Terraform Configuration
  - Terraform Deployment Restriction
  - Terraform Deployment History
- name: Account
  tags:
  - Account Info
  - Git repositories
  - Referral & Rewards
- name: Git
  tags:
  - Git repositories
- name: Variable
  tags:
  - Variable Main Calls
- name: Lifecycle Template
  tags:
  - Lifecycle Template Main Calls
- name: Admin
  tags:
  - User Sign Up
- name: Alerting
  tags:
  - Alert Receivers
  - Alert Rules
