openapi: 3.0.0
info:
  version: 1.0.4
  title: Qovery Account Info Terraform Deployment Restriction API
  description: '- Qovery is the fastest way to deploy your full-stack apps on any Cloud provider.

    - ℹ️ The API is stable and still in development.

    '
  contact:
    name: Qovery Product Team
    url: https://www.qovery.com
    email: support+api+documentation@qovery.com
  x-logo:
    url: https://console.qovery.com/assets/logos/logo-white.svg
    altText: Qovery
servers:
- url: https://api.qovery.com
security:
- bearerAuth: []
- ApiKeyAuth: []
tags:
- name: Terraform Deployment Restriction
paths:
  /terraform/{terraformId}/deploymentRestriction:
    parameters:
    - schema:
        type: string
      name: terraformId
      in: path
      required: true
    get:
      summary: Get terraform deployment restrictions
      description: Get terraform deployment restrictions
      tags:
      - Terraform Deployment Restriction
      responses:
        '200':
          description: Get terraform deployment restrictions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TerraformDeploymentRestrictionResponseList'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      operationId: getTerraformDeploymentRestrictions
      x-stoplight:
        id: q3y44x1wdigcd
    post:
      summary: Create a terraform deployment restriction
      description: Create a terraform deployment restriction
      tags:
      - Terraform Deployment Restriction
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TerraformDeploymentRestrictionRequest'
      responses:
        '201':
          description: Added an terraform deployment restriction
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TerraformDeploymentRestrictionResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '409':
          description: A terraform deployment restriction with same properties already exists for this terraform
      operationId: createTerraformDeploymentRestriction
      x-stoplight:
        id: l6192gxde3sbv
  /terraform/{terraformId}/deploymentRestriction/{deploymentRestrictionId}:
    parameters:
    - schema:
        type: string
        format: uuid
      name: terraformId
      in: path
      required: true
    - schema:
        type: string
        format: uuid
      name: deploymentRestrictionId
      in: path
      required: true
    put:
      summary: Edit a terraform deployment restriction
      description: Edit a terraform deployment restriction
      tags:
      - Terraform Deployment Restriction
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TerraformDeploymentRestrictionRequest'
      responses:
        '200':
          description: Edit a terraform deployment restriction
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TerraformDeploymentRestrictionResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      operationId: editTerraformDeploymentRestriction
      x-stoplight:
        id: w3jp2xci6bogt
    delete:
      summary: Delete a terraform deployment restriction
      description: Delete a terraform deployment restriction
      tags:
      - Terraform Deployment Restriction
      responses:
        '204':
          $ref: '#/components/responses/204-deletion'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      operationId: deleteTerraformDeploymentRestriction
      x-stoplight:
        id: d896flm9ibi54
components:
  schemas:
    TerraformDeploymentRestrictionResponse:
      title: TerraformDeploymentRestrictionResponse
      x-stoplight:
        id: 9t9zdouc9tao0
      allOf:
      - $ref: '#/components/schemas/Base'
      - $ref: '#/components/schemas/TerraformDeploymentRestrictionRequest'
    TerraformDeploymentRestrictionRequest:
      title: TerraformDeploymentRestrictionRequest
      x-stoplight:
        id: gtjm33l5m7q0x
      type: object
      required:
      - mode
      - type
      - value
      properties:
        mode:
          $ref: '#/components/schemas/DeploymentRestrictionModeEnum'
        type:
          $ref: '#/components/schemas/DeploymentRestrictionTypeEnum'
        value:
          type: string
          x-stoplight:
            id: hsk8w0ydpuwm4
          description: ‘For `PATH` restrictions, the value must not start with `/`’
    DeploymentRestrictionModeEnum:
      type: string
      description: Match mode will rebuild app only if specified items are updated. Exclude mode will not rebuild app if specified items are updated.
      enum:
      - EXCLUDE
      - MATCH
      example: MATCH
    TerraformDeploymentRestrictionResponseList:
      title: TerraformDeploymentRestrictionResponseList
      x-stoplight:
        id: olvqymwxtdfeq
      type: object
      properties:
        results:
          x-stoplight:
            id: iu0k7b7tkayre
          type: array
          items:
            $ref: '#/components/schemas/TerraformDeploymentRestrictionResponse'
    Base:
      type: object
      required:
      - id
      - created_at
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        created_at:
          type: string
          readOnly: true
          format: date-time
        updated_at:
          type: string
          readOnly: true
          format: date-time
    DeploymentRestrictionTypeEnum:
      type: string
      enum:
      - PATH
      example: PATH
  responses:
    204-deletion:
      description: The resource was deleted successfully
    '403':
      description: Access forbidden
    '404':
      description: Resource not found
    '400':
      description: Bad request
    '401':
      description: Access token is missing or invalid
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'JWT tokens should be used with OIDC account (human to machine). JWT tokens used by the Qovery console to communicate with the API have a TTL. Curl Example '' curl https://console.qovery.com/organization -H "Authorization: Bearer $qovery_token" '''
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: 'Token API are generated by Qovery to manage machine to machine interaction and do not have a TTL. Curl Example '' curl https://console.qovery.com/organization -H "Authorization: Token $qovery_token" '''
x-tagGroups:
- name: Organization
  tags:
  - Organization Main Calls
  - Organization Api Token
  - Organization Account Git Repositories
  - Organization Cluster Lock
  - Organization Webhook
  - Organization Custom Role
  - Organization Event
  - Organization Annotations Group
  - Organization Labels Group
  - Organization Enterprise Connection
  - Projects
  - Members
  - Billing
  - Clusters
  - Cloud Provider
  - Cloud Provider Credentials
  - Github App
  - Container Registries
  - Helm Repositories
- name: Project
  tags:
  - Project Main Calls
  - Environments
  - Project Deployment Rule
  - Project Environment Variable
  - Project Secret
- name: Environment
  tags:
  - Environment Main Calls
  - Applications
  - Containers
  - Databases
  - Jobs
  - Helms
  - Terraforms
  - Environment Actions
  - Environment Logs
  - Environment Deployment History
  - Environment Deployment Rule
  - Environment Variable
  - Environment Secret
  - Environment Export
- name: Deployment Stage
  tags:
  - Deployment Stage Main Calls
- name: Application
  tags:
  - Application Main Calls
  - Application Actions
  - Application Configuration
  - Application Custom Domain
  - Application Database
  - Application Logs
  - Application Deployment Restriction
  - Application Deployment History
  - Application Environment Variable
  - Application Secret
  - Application Annotations Group
- name: Container
  tags:
  - Container Main Calls
  - Container Actions
  - Container Configuration
  - Container Custom Domain
  - Container Database
  - Container Logs
  - Container Deployment History
  - Container Environment Variable
  - Container Secret
  - Container Annotations Group
- name: Database
  tags:
  - Database Main Calls
  - Database Actions
  - Database Applications
  - Database Deployment History
  - Database Containers
  - Database Application
  - Database Container
  - Backups
  - Database Annotations Group
- name: Job
  tags:
  - Job Main Calls
  - Job Actions
  - Job Configuration
  - Job Custom Domain
  - Job Deployment Restriction
  - Job Deployment History
  - Job Environment Variable
  - Job Secret
  - Job Annotations Group
- name: Helm
  tags:
  - Helm Main Calls
  - Helm Actions
  - Helm Configuration
  - Helm Custom Domain
  - Helm Deployment Restriction
  - Helm Deployment History
- name: Terraform
  tags:
  - Terraform Main Calls
  - Terraform Actions
  - Terraform Configuration
  - Terraform Deployment Restriction
  - Terraform Deployment History
- name: Account
  tags:
  - Account Info
  - Git repositories
  - Referral & Rewards
- name: Git
  tags:
  - Git repositories
- name: Variable
  tags:
  - Variable Main Calls
- name: Lifecycle Template
  tags:
  - Lifecycle Template Main Calls
- name: Admin
  tags:
  - User Sign Up
- name: Alerting
  tags:
  - Alert Receivers
  - Alert Rules
