openapi: 3.0.0
info:
  version: 1.0.4
  title: Qovery Account Info Organization Enterprise Connection API
  description: '- Qovery is the fastest way to deploy your full-stack apps on any Cloud provider.

    - ℹ️ The API is stable and still in development.

    '
  contact:
    name: Qovery Product Team
    url: https://www.qovery.com
    email: support+api+documentation@qovery.com
  x-logo:
    url: https://console.qovery.com/assets/logos/logo-white.svg
    altText: Qovery
servers:
- url: https://api.qovery.com
security:
- bearerAuth: []
- ApiKeyAuth: []
tags:
- name: Organization Enterprise Connection
paths:
  /organization/{organizationId}/enterpriseconnection:
    get:
      summary: List enterprise connections
      operationId: listOrganizationEnterpriseConnections
      parameters:
      - $ref: '#/components/parameters/organizationId'
      tags:
      - Organization Enterprise Connection
      responses:
        '200':
          description: List enterprise connections
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnterpriseConnectionResponseList'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
  /organization/{organizationId}/enterpriseconnection/{connectionName}:
    get:
      summary: Get enterprise connection
      operationId: getOrganizationEnterpriseConnection
      parameters:
      - $ref: '#/components/parameters/organizationId'
      - $ref: '#/components/parameters/connectionName'
      tags:
      - Organization Enterprise Connection
      responses:
        '200':
          description: Get enterprise connection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnterpriseConnectionDto'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
    put:
      summary: Update enterprise connection
      operationId: updateOrganizationEnterpriseConnection
      parameters:
      - $ref: '#/components/parameters/organizationId'
      - $ref: '#/components/parameters/connectionName'
      tags:
      - Organization Enterprise Connection
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnterpriseConnectionDto'
      responses:
        '200':
          description: Update enterprise connection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnterpriseConnectionDto'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
components:
  schemas:
    EnterpriseConnectionResponseList:
      title: EnterpriseConnectionResponseList
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/EnterpriseConnectionDto'
    EnterpriseConnectionDto:
      title: EnterpriseConnectionDto
      type: object
      required:
      - connection_name
      - default_role
      - enforce_group_sync
      - group_mappings
      properties:
        connection_name:
          type: string
          description: The connection name
        default_role:
          type: string
          description: 'The purpose of this default role is to be associated to your users if:

            - you choose to not expose your IDPs groups to the SAML / OIDC connection

            - no associated group is found in your `group_mappings` defined


            You can define either a Qovery provided role (i.e `viewer`) or one of your custom role`s uuid.

            '
        enforce_group_sync:
          type: boolean
          description: '* if `true`, roles will be synchronized at each user login according to your `group_mappings` configuration based on your IDP groups

            * if `false`, no synchronization is done for your users and `group_mappings` configuration will be ignored

            '
        group_mappings:
          type: object
          description: "This will allow to create mapping rules based on your IDP group names.  \nIt's a dictionnary having:\n- key: either a Qovery provided role (i.e `viewer`) or one of your custom role`s uuid\n- value: an array of your IDP group names\n\nExample: \"I want to associate the Qovery role `devops` to my IDP groups ['Administrators', 'DevSecOps']\"\n"
          additionalProperties:
            type: array
            items:
              type: string
              nullable: false
  responses:
    '403':
      description: Access forbidden
    '404':
      description: Resource not found
    '401':
      description: Access token is missing or invalid
  parameters:
    organizationId:
      name: organizationId
      in: path
      description: Organization ID
      required: true
      schema:
        type: string
        format: uuid
    connectionName:
      name: connectionName
      in: path
      required: true
      description: The name of the Organization's Enterprise Connection
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'JWT tokens should be used with OIDC account (human to machine). JWT tokens used by the Qovery console to communicate with the API have a TTL. Curl Example '' curl https://console.qovery.com/organization -H "Authorization: Bearer $qovery_token" '''
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: 'Token API are generated by Qovery to manage machine to machine interaction and do not have a TTL. Curl Example '' curl https://console.qovery.com/organization -H "Authorization: Token $qovery_token" '''
x-tagGroups:
- name: Organization
  tags:
  - Organization Main Calls
  - Organization Api Token
  - Organization Account Git Repositories
  - Organization Cluster Lock
  - Organization Webhook
  - Organization Custom Role
  - Organization Event
  - Organization Annotations Group
  - Organization Labels Group
  - Organization Enterprise Connection
  - Projects
  - Members
  - Billing
  - Clusters
  - Cloud Provider
  - Cloud Provider Credentials
  - Github App
  - Container Registries
  - Helm Repositories
- name: Project
  tags:
  - Project Main Calls
  - Environments
  - Project Deployment Rule
  - Project Environment Variable
  - Project Secret
- name: Environment
  tags:
  - Environment Main Calls
  - Applications
  - Containers
  - Databases
  - Jobs
  - Helms
  - Terraforms
  - Environment Actions
  - Environment Logs
  - Environment Deployment History
  - Environment Deployment Rule
  - Environment Variable
  - Environment Secret
  - Environment Export
- name: Deployment Stage
  tags:
  - Deployment Stage Main Calls
- name: Application
  tags:
  - Application Main Calls
  - Application Actions
  - Application Configuration
  - Application Custom Domain
  - Application Database
  - Application Logs
  - Application Deployment Restriction
  - Application Deployment History
  - Application Environment Variable
  - Application Secret
  - Application Annotations Group
- name: Container
  tags:
  - Container Main Calls
  - Container Actions
  - Container Configuration
  - Container Custom Domain
  - Container Database
  - Container Logs
  - Container Deployment History
  - Container Environment Variable
  - Container Secret
  - Container Annotations Group
- name: Database
  tags:
  - Database Main Calls
  - Database Actions
  - Database Applications
  - Database Deployment History
  - Database Containers
  - Database Application
  - Database Container
  - Backups
  - Database Annotations Group
- name: Job
  tags:
  - Job Main Calls
  - Job Actions
  - Job Configuration
  - Job Custom Domain
  - Job Deployment Restriction
  - Job Deployment History
  - Job Environment Variable
  - Job Secret
  - Job Annotations Group
- name: Helm
  tags:
  - Helm Main Calls
  - Helm Actions
  - Helm Configuration
  - Helm Custom Domain
  - Helm Deployment Restriction
  - Helm Deployment History
- name: Terraform
  tags:
  - Terraform Main Calls
  - Terraform Actions
  - Terraform Configuration
  - Terraform Deployment Restriction
  - Terraform Deployment History
- name: Account
  tags:
  - Account Info
  - Git repositories
  - Referral & Rewards
- name: Git
  tags:
  - Git repositories
- name: Variable
  tags:
  - Variable Main Calls
- name: Lifecycle Template
  tags:
  - Lifecycle Template Main Calls
- name: Admin
  tags:
  - User Sign Up
- name: Alerting
  tags:
  - Alert Receivers
  - Alert Rules
